.additional-service {
  display: flex;
  align-items: center;
  height: 102px;
  padding: 0 25px;
  background-color: #f6f8fa;
  border-radius: 5px;
}

.additional-service__checkbox {
  margin-right: 20px;
}

.additional-service__icon {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  background-image: url('/src/assets/svg/additional-service.svg');
}

.additional-service__desc {
  strong {
    font-family: var(--font-lato);
    font-weight: 600;
    font-size: 16px;
    line-height: 145%;
    color: #1f2432;
  }

  p {
    font-family: var(--font-lato);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #797b86;
  }
}
