.breadcrumbs {
  background-color: rgba(0, 0, 0, 0.1);
  outline: 1px dotted #666666;
  outline-offset: -1px;

  display: flex;
  height: 100px;
  padding: 22px 0 0 0;
  list-style: none;
}

.breadcrumbs__item {
  &:not(:last-child) {
    margin-right: 15px;

    &::after {
      content: '>';
    }
  }
}
