.breadcrumbs {
  display: flex;
  height: 100px;
  color: #33374e;
  padding: 30px 0 0 0;
  font-family: var(--font-lato);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  list-style: none;
}

.breadcrumbs__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 25px;

    &::after {
      position: absolute;
      content: '';
      top: 8px;
      right: -16px;
      width: 5px;
      height: 8px;
      background-color: #33374e;
      clip-path: polygon(0 100%, 100% 50%, 0 0);
    }
  }

  &--current {
    color: #797b86;
  }
}
